<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<form th:method="post" th:action="@{/{id}/user-update (id=${user.getId()})}" th:object="${user}">
    <table>
        <tbody>
        <tr>
            <td>Name:</td>
            <td>
                <label>
                    <input type="text" th:field="*{name}">
                </label>
            </td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td>
                <label>
                    <input type="text" th:field="*{surName}">
                </label>
            </td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td>
                <label>
                    <input type="text" th:field="*{email}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Edit"/>
</form>
</body>
</html>